body,
html {
  margin: 0;
  padding: 0;
  font-family: 'sans';
  font-size: 10px;
  background: #19172e;
  user-select: none;
}

@font-face {
  src: url('font/sans.ttf');
  font-family: 'sans';
}

h1 {
  font-size: 5.5rem;
  color: #FEFFE2;
  font-family: "Arvo", cursive;
  text-align: center;
}

span {
  font-weight: 100;
}

.keys {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.key {
  border: .4rem solid white;
  border-radius: .5rem;
  margin: 1rem ;
  padding: 1rem .5rem;
  font-size: 1.5rem;
  transition: all .07s ease;
  width: 78pt;
  text-align: center;
  color: white;
  background-color: #212121;
}


kbd {
  display: block;
  font-size: 4rem;
   cursor: pointer;
}

.sound {
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #bb86fc;
}

footer {
  text-align: center;
  color: white;
  font-size: 1.5rem;
  margin-bottom: 0;
  padding: 5px;
}

footer a:visited {
  color: inherit;
}

#container{
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}